include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_out_ba *.css
recursive-include erpnext_out_ba *.csv
recursive-include erpnext_out_ba *.html
recursive-include erpnext_out_ba *.ico
recursive-include erpnext_out_ba *.js
recursive-include erpnext_out_ba *.json
recursive-include erpnext_out_ba *.md
recursive-include erpnext_out_ba *.png
recursive-include erpnext_out_ba *.py
recursive-include erpnext_out_ba *.svg
recursive-include erpnext_out_ba *.txt
recursive-exclude erpnext_out_ba *.pyc